body {
    display: flex;
    flex-direction: column; /* Isso empilha os itens verticalmente */
    justify-content: center; /* Centraliza no eixo principal (vertical agora) */
    align-items: center;    /* Centraliza no eixo cruzado (horizontal) */
    min-height: 100vh;      /* Use 100vh para ocupar a tela inteira, 500vh é muito longo */
}

.Formulario {
    display: flex;
    flex-direction: column; /* Empilha os campos */
    gap: 15px;              /* Adiciona um espaço entre cada campo */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}